
#container{

    width: auto;
    margin: auto;
}

header{
    width: 100%;
    height: 300px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 416px;

}

.Nombres{
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    
}
.Nombres .Nombres{
    background: #2c3e50;
    display: flex;
    width: 26%;
    height: 110px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);

}

.Nombres .Nombres img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;


}
.Nombres .Nombres > .contenido{
    width: 60%;
    color: #fff;

}

#información{
    text-align: center;
    
}
#información2{
    text-align: center;
    
}
#información2 > img{
    width: 30%;
    object-fit: cover;
    text-align: center;
    justify-content: space-evenly;
    display: block;
    
}